:root{
    /* CSS HEX */
    --sea-green-crayola: #34F1CFff; /*symbole */
    --light-coral: #E47E80ff; /*symbole */
    --white: #FFFFFEff; /* blanc */
    --raisin-black: #22252Dff; /* noir */
    --gunmetal: #2A2D37ff; /* noir secondaire */
    --cultured: #F9F9F9ff; /* blanc secondaire */
}

*{
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--raisin-black);
}

body.night{
    background-color: var(--raisin-black);
    color: var(--white);
}


main{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#print_number{

    display: flex;
    flex-direction: column;
}

#selectors{
    background-color: var(--cultured);
    padding: 20px 20px;
    border-radius: 20px;
}

#selectors.night{
    background-color: var(--gunmetal);
}

.number{

    border-radius: 10px;
    width: 20px;
    height: auto;
}

.button{
    background-color: var(--white);

}

.button.night{
    background-color: var(--raisin-black);
}
.row p{
    margin: 5px 5px;
    text-align: center;
}

.number_calculator{
    color: var(--white);
    display: flex;
    flex-direction: row;
    font-size:40px;
}

.main_operators{
    color: var(--light-coral);

    border-radius: 10px;
    width: 20px;
    height: auto;
}

#calcul_operator{
    color: var(--light-coral);
}

.secondary_operators{
    color: var(--sea-green-crayola);
    border-radius: 10px;
    width: 20px;
    height: auto;
}


.row{
    display: flex;
    flex-direction: row;
}
.row p{
    padding: 20px 20px;
}




